.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group(data-group_id="7597")
        tokyo
      %ul.main-header__left-box__member-list
        %li.main-header__left-box__member-list__member
          member:hoge sake take 
    .main-header__edit-btn
      Edit
  .messages
    .message(data-message_id="15368")
      .message__upper-info
        %p.message__upper-info-talker
          a
        %p.message__upper-info-date
          2019/10/12
      %div
        %p.message_text
          a
  .form
    = form_for "" do |f|
      = f.text_field :name , class: 'form1', :placeholder => "type a messeage"
      = f.label :name, class: 'form2' do
        = icon("far", "image")
      = f.submit "Send", class:"form3"
